/* Common codes start */
:root{
    --light-color: #fff;
    --dark-color: #040404;
    --primary-color: #063;
}

.text-justify{
    text-align: justify;
}
/* Common codes end */

/* navbar section start */
#navbar{
    --bs-dropdown-bg: : var(var(--dark-color));
}
.sticky-top {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(1px);
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
     color: var(--light-color); 
}

.nav-link {
    padding: 10px 30px;
    border-radius: 10px;
    transition: .3s ;
    &.active{
        background: var(--primary-color);
        color: var(--light-color);
    }

    &:hover{
        background: var(--primary-color);
        color: var(--light-color);
    }
}
/* navbar section end */

/* menu section start */
.food-description h2{
    color: var(--primary-color);
}

.food-description p{
    color: var(--dark-color);
}

.menu-title h1{
    color: var(--primary-color);
    font-weight: 700;
}
/* menu section end */

/* contact section start */
.contact-title h1{
    color: var(--primary-color);
    font-weight: 700;
}

.contact-content {
    & a{
        text-decoration: none;
        color: var(--primary-color);
    }
}

#form_section .btn{
    background: var(--primary-color);

    &:hover{
        background: rgba(0, 102, 51, .8);
    }
}
/* contact section end */